// Colors
$color-primary: #777;
$color-accent: #58e1c1;
$color-white: #fff;
$color-blue-diamond: #51ddfc; 
$color-basket-ball-orange: #fd7856;

// Media query breakpoints
$brk-wide: '(min-width: 768px)';